@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
 font-family: 'Roboto', sans-serif;
}
li{
  list-style:none;
}

h4{
  text-transform:uppercase;
  font-size:1em;
  opacity:.8;
  width:200px;
}
.container{
    position:relative;
    background:#2d4059;
    border-radius:10px;
    padding:.5em;
    margin:20px auto;
    width:330px;
    height:500px;
    text-align:center;
    color:white;
 }
 .header{
   display:flex;
   justify-content:space-around;
   }
 .header > h3{
   display:flex;
   align-items:center;
    font-size:.9em;
    opacity:.6;
} 
  .chain-form,.join-form{
   position:relative;
    display:flex;
    flex-direction: column;
    margin:140px auto;
    padding-top:4em;
    align-items: center;
    width:300px;
    height:140px;

  }
.chain-form input,.join-form input{
    border:solid .5px black;
    border-radius:10px;
    outline:none;
    width:270px;
    padding:.8em;
}
.chain-form label{
  position:absolute;
  top:-2em;
  font-size:2em;
}
.chain-form button,.join-form button{
    width:100px;
    padding:.5em 1em;
    border-radius:5px;
    background:#111d5e;
    color:white;
    cursor:pointer;
}
  .online-users{
    display:flex;
    padding-left:0;
    padding-right:.7em;
  }

.timer{
  visibility:hidden;
  display:grid;
  align-items:center;
  border-radius:50%;
  background:#dbdbdb;
  font-size:1.7em;
  width:50px;
  height:50px;
  color:#111d5e;
}