@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
 font-family: 'Roboto', sans-serif;
}
li{
  list-style:none;
  margin-right:.5em;
}
i{
  color:#99b898;
margin-right:.4em;
}
.container
{
    padding:.7em;
    position:relative;
    background:#2d4059;
    border-radius:10px;
    margin:20px auto;
    width:330px;
    height:500px;
    text-align:center;
    color:white;
 }
 header
 {
   display:flex;
   align-items:center;
   height:40px;
  }
header h3{
    font-size:.9em;
    opacity:.6;
} 

header h4{
  text-transform:uppercase;
  font-size:1em;
  margin:0 auto;
  opacity:.8;
  width:200px;
}

.online-users {
  padding:0;
  margin-top:1.3em;
  display:flex;
}

.chain-form,.join-form{
    position:relative;
    display:flex;
    flex-direction: column;
    margin:140px auto;
    padding-top:4em;
    align-items: center;
    width:300px;
    height:140px;
 }
input{
    border:solid .5px black;
    border-radius:10px;
    outline:none;
    width:270px;
    padding:.8em;
}
.chain-form label{
  position:absolute;
  top:-2em;
  font-size:2em;
}
button {
    width:100px;
    padding:.5em 1em;
    border-radius:5px;
    background:#111d5e;
    color:white;
    cursor:pointer;
}

 .timer
{
  visibility:hidden;
  display:grid;
  align-items:center;
  border-radius:50%;
  border:3px #111d5e solid;
  background:#dbdbdb;
  font-size:1.7em;
  width:45px;
  height:45px;
  color:#111d5e;
}